#paragraf {
  font-size:large;
   padding-top:200px;
 }
  
li {
    margin-left: 50px;
  }

  #kutu1 {
    width: 300px;
    height: 50px;
    background-color: rgb(7, 99, 7);
    color: white;
    margin-top: auto;
    position: relative;
    margin: 10px;
}

  #kutu2 {
    width: 300px;
    height: 50px;
    background-color: rgb(23, 6, 87);
    color: white;
    margin-top: auto;
    position: relative;
    margin: 10px;
  }

  #kutu3 {
    width: 300px;
    height: 50px;
    background-color: rgb(170, 8, 8);
    color: white;
    margin-top: auto;
    position: relative;
    margin: 10px;}

#kutu4 {
    width: 300px;
    height: 50px;
    background-color: rgb(9, 88, 138);
    color: white;
    margin-top: auto;
    position: relative;
    margin: 10px;
}

#kutu5 {
  width: 150px;
  height: 150px;
  background-color: rgb(240, 46, 46);
  color: white;
  position: absolute;
  left: 300px ;
  bottom: 210px;
  font-size: large;
  text-align: center;
  padding-top: 20px;
  display:none;
  opacity: 90%;
}

#kutu6 {
  width: 150px;
  height: 150px;
  background-color: rgb(240, 46, 46);
  color: white;
  position: absolute;
  left:900px ;
  bottom: 210px;
  font-size: large;
  text-align: center;
  padding-top: 20px;
  display:none;
  opacity: 90%;
}

#kutular {
   
    margin-top: 200px;
    text-align: center;
    opacity: 85%;
    padding-top:10px;
}

  #img {
    position: absolute;
    display: inline-block;
}

* {
    margin: 0;
    padding: 0;
}

.header  {
    background-image:url(sigorta-2.png);
    background-size:cover;
    background-position: center;
    height:190vh;
  }

 .link {
    background-color: turquoise;
    background-size:cover;
    background-position: center;
    }

.dropdown-menu{
    background-color:rgb(51, 212, 191);
    color: white;
    opacity:95%;
  }

@media screen and (max-width:1100px) {

  #kutular {
    margin-top:400px;
    text-align: center;
    opacity: 85%;
    padding-top:10px;
    }

#kutu1 {
    width: 500px;
    height: 100px;
    background-color: rgb(7, 99, 7);
    color: white;
    margin-top: auto;
    position: relative;
    margin: 10px;
    font-size: 50px;
    text-align: center;
  }

  #kutu2 {
    width: 500px;
    height: 100px;
    background-color: rgb(23, 6, 87);
    color: white;
    margin-top: auto;
    position: relative;
    margin: 10px;
    font-size: 50px;
    text-align: center;
  }

  #kutu3 {
    width: 500px;
    height: 100px;
    background-color: rgb(170, 8, 8);
    color: white;
    margin-top: auto;
    position: relative;
    margin: 10px;
    font-size: 50px;
    text-align: center;
  }

  #kutu4 {
    width: 500px;
    height: 100px;
    background-color: rgb(9, 88, 138);
    color: white;
    margin-top: auto;
    position: relative;
    margin: 10px;
    font-size: 50px;
    text-align: center;
  }

 #kutu5 {
    left: 80px ;
    bottom: 600px;
    width: 300px;
    height: 300px;
    font-size: 100px;
    text-align: center;
 }

  #kutu6 {
    left: 400px ;
    bottom: 600px;
    width: 300px;
    height: 300px;
    font-size: 100px;
    text-align: center;
 }

 #paragraf {
 font-size:50px;
  padding-top:5px;
 }

.header {
  background-image:url(sigorta-2.png);
  background-size:cover;
  background-position: center;
  height:115vh;
  } 
  
.navbar-brand{
  font-size:50px;
}

.dropdown-menu{
font-size: 50px;
}

.nav-link {
font-size: 50px;

}

footer {
  font-size: 50px;
}

h7 {
  font-size: 50px;
}

.form-group{
  font-size: xx-large;
}

i {
  font-size: 50px;
}

.linnk{
padding-top: 200px;
}

h4{
  font-size: 50px;
}
  
}




 